:root {
  --bgTheme: white;
  --fontColor: black;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  font-size: 1.2em;
  padding: .5rem;
  color: var(--fontColor);
  background: var(--bgTheme);
}

.app {
  width: 100%;
  height: 100%;
  text-align: center;
}

.videoconfig, .buttons {
  margin: 15px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  border: 3px solid var(--fontColor);
}

#videoSelectBtn {
  width: auto;
  background-color: #f5f5f5;
  border: 3px solid #c5c5c5;
  border-radius: 5px;
  color: #5f5f5f;
  padding: 5px 20px;
  text-decoration: underline;
  font-size: 1.15em;
  margin: 5px 0;
}

#startBtn {
  background: #1dd0b4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1.1em;
  cursor: pointer;
  margin: 0 4px;
}

#startBtn:hover {
  background: #19C2AA;
}

#stopBtn {
  background: #e93333;
  color: white;
  display: none;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1.1em;
  cursor: pointer;
  margin: 0 4px;
}

#stopBtn:hover {
  background: #ce1e1e;
}

#pause {
  background: #fce835;
  color: white;
  display: none;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1.1em;
  cursor: pointer;
  margin: 0 4px;
}

#pause img, #resume img {
  filter: invert(1);
}

#pause:hover {
  background: #d1c12f;
}

#resume {
  background: #fc3535;
  color: white;
  display: none;
  border: none;
  border-radius: 5px;
  padding: 11px 15px;
  font-size: 1.1em;
  cursor: pointer;
  margin: 0 4px;
}

#resume:hover {
  background: #d12f2f;
}


header {
  height: 30px;
  width: 100vw;
  color: black;
  background: white;
  -webkit-app-region: drag;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-self: stretch;
}

.option {
  color: black;
  padding: 0 17px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-self: center;
  -webkit-app-region: no-drag;
  transition: background .1s;
  height: 100%;
}

.option:hover {
  background: #E81123;
}

.option:hover svg {
  filter: invert(1);
}

.option svg {
  transition: filter .1s;
}

.config {
  text-align: center;
  padding: 15px 10px;
}

select {
  height: 2em;
  padding: 4px 10px;
}

.tabContent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #353535;
  border-top: none;
}

.tab button.active {
  background-color: #1a1a1a;
}

.tab button:hover {
  background-color: #353535;
}

.tab button {
  background-color: inherit;
  width: 100%;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: background-color 0.3s;
  font-size: 17px;
  color: white;
}

.tab {
  overflow: hidden;
  border: 1px solid #353535;
  background-color: #1f1f1f;
  display: flex;
}

.setShort {
  display: flex;
  justify-content: space-evenly;
  margin: 7px 0;
}

.setShort input {
  background: none;
  border: none;
  border-bottom: white 2px solid;
  border-radius: 2px;
  color: var(--fontColor);
}

#save {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #1dd0b4;
  color: white;
  border: none;
  font-weight: 700;
  font-size: 1.1em;
}

#save:hover {
  background: #19C2AA;
}

#shortcuts button {
  background: none;
  border: none;
  color: var(--fontColor);
}

.progressBar {
  width: 100%;
  background: #00000027;
}

.progress {
  width: 0%;
  background: #4CAF50;
  margin: 20px 0;
  height: 20px;
}